<div class="container">
  
    <p>
      Where would you like to go?
    </p>
  
  </div>
  
  <!---
  <app-search-places></app-search-places>
  -->


  <!-- inicio container -->
<div class="container">
  
  
    <br/>
  
    <div class="card">
  
      <div class="card-header">
        Featured
      </div>
  
      <div class="card-block">
  
          <!--  TABLE INICIO -->
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Address</th>
                <th class="hidden-xs">Address Fountd</th>
                <th class="hidden-xs hidden-sm hidden-md">[ Lat, Lng ]</th>
                <th>Del</th>
              </tr>
            </thead>
            <tbody>

             
              <tr *ngFor="let place of places">
                <th scope="row">1</th>
                <td>{{place.address}}</td>
                <td class="hidden-xs">{{place.addressFmt}}</td>
                <td class="hidden-xs hidden-sm hidden-md"> <small>[ {{place.latitude}} , {{place.longitude}} ] </small></td>

                <td><button type="button" class="btn btn-link" 
                          (click)="deletePlace(place)"><span class="fa fa-trash-o fa-lg"></span> delete</button></td>
              </tr>
         
            
            
            <!-- 
              <tr>
                <th scope="row">1</th>
                <td>theatro kolon</td>
                <td>Teatro Colón</td>
                <td>22,432423</td>
                <td>33,543441</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Caminito</td>
                <td>caminito</td>
                <td>22,112423</td>
                <td>33,245521</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Entre Rios</td>
                <td>Entre Rios</td>
                <td>322,22233</td>
                <td>322,32215</td>
              </tr> 
              -->   
              
            </tbody>
            </table>
  
          <!-- TABLE FIN -->
  
      </div>
  
    </div>
  
  
  </div>