<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <h5 class="modal-title" id="exampleModalLabel" *ngIf="place">{{place.address}}</h5>
        <h5 class="modal-title" id="exampleModalLabel" *ngIf="!place">Detail</h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                            (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div *ngIf="!place" class="alert alert-danger" role="alert">
          <strong>Error</strong> No se pudo obtener el detalle
        </div>

        <div  *ngIf="place">
            <p>{{place.addressFmt}}</p>

            <!-- Google Map Ini -->
            <agm-map
             [latitude]="place.latitude"
            [longitude]="place.longitude"
            [zoom]="11">
              <agm-marker
                   [latitude]="place.latitude"
                  [longitude]="place.longitude">
                  <agm-info-window>
                    <p>{{place.address}}</p>
                    <small> [ {{place.latitude}}, {{place.longitude}} ]</small>
                  </agm-info-window>
              </agm-marker>
            </agm-map> 
            <!-- Google Map Fin -->

            <small>Lat, Lng:[ {{place.latitude}}, {{place.longitude}} ]</small>

       </div>
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            (click)="close()">Close</button>
      </div>
    </div>
  </div>
</div>
