@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";


/* You can add global styles to this file, and also import other style files *
/*
body {
    background:url(assets/images/bg.jpg), #000;
    background-size:cover;
  }
  
  h1 {
    color: #fff;
  }
  
*/

body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
